<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chatbot/style.css' %}">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Chatty Therapist</h1>

    <div id="chatbot">
        <p class="botText"> <span>Hi there </span></p>
    </div>
    <div id="userInput">
        <input type="text" id="textInput" name="userMessage" placeholder="Type your message...">
        <input type="button" id="buttonInput" type="submit" value="Send">
    </div>

<!-- user response function -->
    <script>

        function getUserResponse(){
            var userText = $('#textInput').val();
            var userHTML = "<p class='userText'>User: <span>"+userText+"</span></p>";
            $('#textInput').val("");

            $('#chatbot').append(userHTML);
        
        
            $.get('/chatbot/getResponse', {userMessage:userText}).done(function(data){
            var returnedMessage = "<p class='botText'>Chatbot: <span>"+ data+"</span></p>";
            $('#chatbot').append(returnedMessage);
        })
    }

    $('#buttonInput').click(function(){
        getUserResponse();
    })

    </script>
</body>
</html>